##### Exercise 2
# Data Science Tools and Ecosystem

##### Exercise 3
In this notebook, Data Science Tools and Ecosystem are summarized.

##### Exercise 10
**Objectives:**
- List popular languages for Data Science.
- Introduce common Data Science tools.
- Create Markdown cells in Jupyter Notebook.
- Perform basic arithmetic operations in Python.
- Convert minutes to hours using Python code.
- Add an Author  
- Upload this notebook to GitHub.

##### Exercise 4
Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. Scala
5. JavaScript

##### Exercise 5
Some of the commonly used libraries used by Data Scientists include:
1. NumPy.
2. Keras.
3. Pandas.
4. PyTorch.
5. SciPy.
6. Scikit-Learn.
7. TensorFlow.
8. Matplotlib.

##### Exercise 6
Table of Data Science Tools

| Data Science Tools |
| -------------|
| IBM Watson Studio |
| Jupyter |
| RStudio |
| Apache Zeppelin |
| Google Colab |

##### Exercise 7
### Below are a few examples of evaluating arithmetic expressions in Python

##### Exercise 8

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

##### Exercise 9

In [2]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

##### Exercise 11

## Author
Abhishek Gupta